body {
    background-color: black;
    background-image: url();
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding: 10px 10px 10px 10px;
}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    font
}

#container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}